.aboutus {
    background-image:url("./about/mobile/bg-pattern-hero-about-mobile.svg");
    section#hero-section{
        margin-block-end: unset;
        @include tablet{
            margin-block-end: 161px;
            .wrapper{
                border-radius: 10px;
            }
        }
    }
}
 .pseudo-block-container{ 
    .wrapper{
       &::before{
        content:"";
        display: block;
        height: 320px;
        width: 100%;
        background-color:orange;
        border-radius:  0;
       } 
       @include tablet{
            &::before{
                border-radius: 10px 10px 0 0;
            }
            .content{
                border-radius: 0 0    10px 10px;
            }
       }
       @include desktop{
        display: flex;
        align-items: stretch;
        &::before{
            height: auto;
            max-width: 476px;
            border-radius: 10px 0 0 10px;
        }
        .content{
            width: 100%;
            max-width: unset;
            border-radius: 0 10px 10px 0;
            padding-block: 135px;
            padding-inline: 95px;
            h2{
                text-align: left;
            }
            p{
                text-align: left;
                font-size: 1rem;
            }
        }
        
       }
    }
    &.pseudo-right{
       .wrapper{
           @include desktop{   
            flex-direction: row-reverse;
            &::before{
                border-radius: 0 10px 10px 0;
            }
            .content{
                border-radius: 10px 0 0 10px;
            }
        }
       }
    }
    &:nth-of-type(2){
        .wrapper{
            &::before{
                background-image: url("./assets/about/mobile/image-world-class-talent.jpg");
                background-size: cover;
                background-repeat: no-repeat;
                @include tablet{
                    background-image: url("./assets/about/tablet/image-world-class-talent.jpg");
                    
                }
                @include desktop{
                    background-image: url("./assets/about/desktop/image-world-class-talent.jpg");
                }
            }
        }   
    }
    &:nth-of-type(4){
        .wrapper{
            &::before{
                background-image: url("./assets/about/mobile/image-real-deal.jpg");
                background-size: cover;
                background-repeat: no-repeat;
                @include tablet{
                    background-image: url("./assets/about/tablet/image-real-deal.jpg");
                }
                @include desktop{
                    background-image: url("./assets/about/desktop/image-real-deal.jpg");
                }
            }
        }   
    }
}
.aboutus{
    .wrapper{
        width: 100%;
        // max-width: 100%;
    }
    .card{
        max-width: 300px;
        margin-inline:auto;
        text-align: center;
        margin-block: 2rem;
        .card-header{
            background-image: url(./assets/shared/desktop/bg-pattern-small-circle.svg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
        .btn-call{
            margin-inline:auto;
        }
    }
    .content{
        padding-inline: 2rem;
        background-color: var(--clr-call-third);
        background-image:url(./assets/shared/desktop/bg-pattern-small-circle.svg) ;
        background-size: 80%;
        padding-block: 	4rem;
        h2{
            text-transform: unset;
            text-align: center;
            margin-block-end: 2rem;
            color: var(--clr-call-main); 
            font-size: 32px;
         }
         p{
            text-align: center;
            font-size: 15px;
         }
    }

}
