.aboutus section#hero-section{
    margin-block-end: unset;
}
 .pseudo-block-container{ 
    .wrapper{
       &::before{
        content:"";
        display: block;
        height: 320px;
        width: 100%;
        background-color:orange;
        border-radius: 10px 10px 0 0;
       } 
    }

    &:nth-of-type(2){
        .wrapper{
            &::before{
                background-image: url("./assets/about/mobile/image-world-class-talent.jpg");
                background-size: cover;
                background-repeat: no-repeat;
                @include tablet{
                    background-image: url("./assets/about/tablet/image-world-class-talent.jpg");
                }
                @include desktop{
                    background-image: url("./assets/about/desktop/image-world-class-talent.jpg");
                }
            }
        }   
    }
    &:nth-of-type(4){
        .wrapper{
            &::before{
                background-image: url("./assets/about/mobile/image-real-deal.jpg");
                background-size: cover;
                background-repeat: no-repeat;
                @include tablet{
                    background-image: url("./assets/about/tablet/image-real-deal.jpg");
                }
                @include desktop{
                    background-image: url("./assets/about/desktop/image-real-deal.jpg");
                }
            }
        }   
    }
}
.aboutus{
    .card{
        max-width: 300px;
        margin-inline:auto;
        text-align: center;
        .btn-call{
            margin-inline:auto;
        }
    }
    .content{
        h2{
            text-transform: unset;
            text-align: center;
            margin-block: 2rem;
            color: var(--clr-call-main); 
            font-size: 32px;
         }
         p{
            text-align: center;
            font-size: 15px;
         }
    }

}