
.call-container{
    position:relative;
    .wrapper{
        background-color: var(--clr-call-main);
        color:var(--clr-light-main);
        text-align:center;
        border-radius: 1rem;
        padding-block: 63px;
        padding-inline:25px;
        background-image:url("./assets/shared/desktop/bg-pattern-call-to-action.svg");
        background-size: 1490px;
        background-position:center;
        .medium-heading{
            max-width: 300px;
            margin-inline:auto;
            text-transform: unset;
        }
        p{
            margin-block: 38px;
            max-width: 500px;
            margin-inline:auto;
        }
        a{
            padding-block: 21px;
            margin-inline:auto;
        }
        @include desktop{
            display:flex;
            justify-content: space-between;
            align-items: center;
            padding-inline: 93px;
            p, .medium-heading{
                width: auto;
                text-align: left;
                margin:0;
                padding-block: 1rem;
            }
            a{
                margin-inline: unset;
            }
        }
    }
}

footer{
    background-color: var(--clr-dark-main);
    color: var(--clr-light-main);
    text-align: center;
    padding-block-start:2rem;
    padding-block-end:50px;
    position:relative;
    &::before{
        content:"";
        position: absolute;
        width: 100%;
        left: 0;
        top: -50%;
        height: 100%;
        background-color: var(--clr-dark-main);
        z-index: -1;
    }
    .grid-flex{
        @include tablet{
            flex-flow:row wrap;
            align-items: center;
            justify-content: space-between;
            .logo-container{
                width: fit-content;
                img{
                    width: 100%;
                    max-width: 202px;
                }
            }
            .nav{
                width: 60%;
            }
        }
    }
    nav{
        position:relative;
        padding-block: unset;
        width: auto;
        background-color:revert;
        border-block-start: 1px solid var(--clr-light-third);

        ul{
            list-style:none;
            a{
                font-size: 18px;
                margin: 0;
            }
           
        }
        @include tablet{
            flex-grow: 1;
            border-block-start: unset;
            margin-inline-start: auto;
            width: fit-content;
            ul{
                display:flex;
                margin-block-end:0;
                a{
                    font-size: 14px;
                    white-space: nowrap;
                    padding: 1rem 0 1rem 3dvb;
                }
            }
        }
    }
    .address, .contact{
        color: var(--clr-light-third);
    }
    .social{
        ul{
            display:flex;
            justify-content: center;
            gap: 1rem;
        }
        li{
            list-style:none;
            a{
                color: var(--clr-call-main);
            }
        }
        @include tablet{
            align-self:flex-end;
           ul{
            li{
                .fa-2x{
                    font-size:1.4em !important;
                }
            }
           } 
        }
    }
}