
/* Start Page Hero Section*/
#hero-section{
    color: var(--clr-light-main);
    text-align: center;
    overflow: hidden;
    .wrapper{
        padding-inline: 1.5rem;
        background-color: var(--clr-call-main);
        border-radius: 10px;
        background-image: url("./assets/home/desktop/bg-pattern-hero-home.svg") ;
        background-position:center 30vh;
        background-repeat: no-repeat;
        .content-container{
            width: 100%;
            margin-inline: auto;
            
            padding-block: 100px;
            padding-inline:2rem;
            text-align: center;
            margin-inline:auto;
            width: fit-content;
            // min-height: 252px;
            p{
                max-width: 386px;
            }
        }
        .main-heading{
            max-width: 500px;
        }
    }
}

.start-main-content{
    #hero-section{
        .wrapper{
            min-height: 80svh;
            overflow:hidden;
            position: relative;
            background-image:url("./assets/home/desktop/image-hero-phone.png"), url("./assets/home/desktop/image-hero-phone.png");
            background-position:center 30vh;
            background-repeat: no-repeat;
            border-radius: 10px 10px 0 0;
            .content-container{
                display:flex;
                flex-flow: column;
                align-items: center;
                justify-content: center;
                gap: 1rem;
            }
            @include desktop{
                background-position: 120% 3vh;
                .content-container{
                    margin-inline: unset;
                    padding-block-start: 13rem;
                    width: 60%;
                    z-index: 1;
                    text-align: left;
                    align-items:flex-start;
                    padding-inline:4rem;
                }
            }
        }
    }
}