@import "./var.scss";
html, body{
    font-family: var(--sans);
    scroll-behavior: smooth;
}

*, *::before, *::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.wrapper{
    width: 90%;
    max-width:1111px;
    margin-inline:auto;
}
.main-heading{
    font-size: 48px;
    font-weight: 500;
    line-height: 48px;
}


.medium-heading{
    font-size:40px;
    line-height: 48px;
    font-weight: 500;
    letter-spacing: 2px;
}

.small-heading{
    font-size:20px;
    line-height: 26px;
    font-weight: 500;
    letter-spacing: 5px;
    text-transform: uppercase;
}
p,ul,input,li{
    font-size: 1rem;
    font-weight: normal;
    line-height:26px;
}
a{
    text-decoration:none;
    font-weight: 500;
    letter-spacing: 1px;
    &.btn-call{
        display:block;
        text-transform: uppercase;
        padding: 1rem 2rem;
        width: fit-content;
        color: var(--clr-txt-main);
        transition: all .3s;
    }
    &.--on-dark{
        background-color:var(--clr-light-main);
        color: var(--clr-dark-main);
        &:hover{
            background-color:var(--clr-light-sub)
        }
    }
    &.--on-light{
        background-color: var(--clr-call-main);
        color: var(--clr-light-main);
        &:hover{
            background-color: var(--clr-call-sub);
        }
    }
    &.btn-icon{
        color: var(--clr-light-main);
        text-transform: uppercase;
        letter-spacing: 5px;
        svg{
            margin-inline-start: 1rem;
        }
    }
}
section:not(#quality-section){
    margin-block-end: 120px;
}
.radius{
    border-radius: 8px;
}
.grid-container{
    display:grid;
    gap: 2rem;
    @include desktop{
        &:has(:nth-last-child(3)):not(.-inline){
            grid-template-columns: 1fr 1fr;
            grid-template-rows:1fr 1fr;
            :first-child{
                grid-column:1;
                grid-row: 1 / span 2;
            }
        }
    }
}
.grid-flex{
    display:flex;
    gap: 2rem;
    flex-flow: column;
    @include desktop{
        flex-flow: row;
    }
}
.card-container{
    min-width: 327px;
    min-height: 250px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .3s;
    &:not(.details-card){
        background-color: var(--clr-light-third);
        color:var(--clr-light-main);
        cursor: pointer;
        &:hover{
            background-color:var(--clr-call-sub);
        }
        &.bgImg{
            position:relative;
            overflow: hidden;
            &::before{
                position:absolute;
                content:"";
                inset: 0;
                background-color: var(--clr-light-third);
                opacity: 0.6;
                z-index: 0;
                transition: all .3s;
                @include desktop{
                    opacity: 0;
                }
            }
            & > *{
                z-index: 10;
            }
            &:hover{
                &::before{
                    background-color:var(--clr-call-sub);
                    @include desktop{
                        opacity: 0.6;
                    }
                }
            }
        }
    }
    
    &.details-card{
        text-align: center;
    }
}


header{
    position:relative;
    z-index: 999;
    .wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-block: 3rem;
        .logo-container{
            width: 200px;
            img{
                width: 100%;
                display:block;
            }
        }
        .burger{
            cursor:pointer;
            path{
                transition: all 0.3s;
            }
            &.open{

                path{
                    
                    position: relative;
                    transform-origin: center;
                    &:nth-of-type(1){
                        transform:translate(-5px, 6px) rotate(45deg);
                    }
                    &:nth-of-type(2){
                        opacity: 0;
                        transform:translatex(-15px);
                    }
                    &:nth-of-type(3){
                        transform: translate(-6px, -5px) rotate(-45deg);
                    }
                }
            }
            // Tablet View
            @include tablet{
                display:none;
            }
        }
    }
}
nav{
    position:absolute;
    background-color: var(--clr-dark-main);
    left: 0;
    width: 100%;
    padding-block: 50px;
    a{
        color: var(--clr-light-main);
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 300;
        display:block;
        padding:1rem  2rem;
        margin-block: 1rem;
    }
}
nav:not(footer nav){    
    //Nav Behavior
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    top: 118%;
    &.open{
        opacity: 1;
        top: 100%;
        pointer-events: auto;
    }
}
.call-container{
    position:relative;
    top: 160px;
    .wrapper{
        background-color: var(--clr-call-main);
        color:var(--clr-light-main);
        text-align:center;
        border-radius: 1rem;
        padding-block: 63px;
        padding-inline:25px;
        background-image:url("./assets/shared/desktop/bg-pattern-call-to-action.svg");
        background-size: 1490px;
        background-position:center;
        p{
            margin-block: 38px;
        }
        a{
            padding-block: 21px;
            margin-inline:auto;
        }
    }
}
footer{
    background-color: var(--clr-dark-main);
    color: var(--clr-light-main);
    text-align: center;
    padding-block-start:250px;
    padding-block-end:50px;
    nav{
        position:relative;
        padding-block: unset;
        width: auto;
        background-color:revert;
        border-block-start: 1px solid var(--clr-light-third);

        ul{
            list-style:none;
            a{
                font-size: 18px;
                margin: 0;
            }
        }
    }
    .address, .contact{
        color: var(--clr-light-third);
    }
    .social{
        ul{
            display:flex;
            justify-content: center;
            gap: 1rem;
        }
        li{
            list-style:none;
            a{
                color: var(--clr-call-main);
            }
        }
    }
}