@import "./Var";
html, body{
    font-family: var(--sans);
    scroll-behavior: smooth;
}
p,input,textarea,button{
    font-family: var(--sans);
}
*, *::before, *::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.wrapper{
    width: 90%;
    margin-inline:auto;
    &.--full-width{
        width: 100%;
    }
    @include tablet{
        max-width: 689px;
    }
    @include desktop{
        width: auto;
        max-width:1111px;
    }
}

.main-heading{
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
    margin-block-end:28px;
    @include tablet{
        font-size: 48px;
    }
}

.medium-heading{
    font-size:28px;
    line-height: 48px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    @include tablet{
        font-size: 40px;
    }
}

.small-heading{
    font-size:20px;
    line-height: 26px;
    font-weight: 500;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-block-end: 1rem;
}
p,ul,input,li{
    font-size: 1rem;
    font-weight: normal;
    line-height:26px;
    margin-block-end: 19px;
}
a, button{
    text-decoration:none;
    font-weight: 500;
    letter-spacing: 1px;
    border: unset;
    cursor: pointer;
    &.btn-call{
        display:block;
        text-transform: uppercase;
        padding: 1rem 2rem;
        width: fit-content;
        color: var(--clr-txt-main);
        transition: all .3s;
    }
    &.--on-dark{
        background-color:var(--clr-light-main);
        color: var(--clr-dark-main);
        &:hover{
            background-color:var(--clr-light-sub)
        }
    }
    &.--on-light{
        background-color: var(--clr-call-main);
        color: var(--clr-light-main);
        &:hover{
            background-color: var(--clr-call-sub);
        }
    }
    &.btn-icon{
        color: var(--clr-light-main);
        text-transform: uppercase;
        letter-spacing: 5px;
        svg{
            margin-inline-start: 1rem;
        }
    }
}



section{
    margin-block-end: 161px;
}
.radius{
    border-radius: 8px;
}
.grid-container{
    display:grid;
    gap: 2rem;
    @include desktop{
        &:has(:nth-last-child(3)):not(.-inline){
            grid-template-columns: 1fr 1fr;
            grid-template-rows:1fr 1fr;
            :first-child{
                grid-column:1;
                grid-row: 1 / span 2;
            }
        }
    }
}
.grid-flex{
    display:flex;
    gap: 2rem;
    flex-flow: column;
    @include desktop{
        flex-flow: row;
    }
}

.card-container{
    min-width: 327px;
    min-height: 250px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .3s;
    &:not(.details-card){
        background-color: var(--clr-light-third);
        color:var(--clr-light-main);
        cursor: pointer;
        &:hover{
            background-color:var(--clr-call-sub);
        }
        &.bgImg{
            position:relative;
            overflow: hidden;
            &::before{
                position:absolute;
                content:"";
                inset: 0;
                background-color: var(--clr-light-third);
                opacity: 0.6;
                z-index: 0;
                transition: all .3s;
                @include desktop{
                    opacity: 0;
                }
            }
            & > *{
                z-index: 10;
            }
            &:hover{
                &::before{
                    background-color:var(--clr-call-sub);
                    @include desktop{
                        opacity: 0.6;
                    }
                }
            }
        }
    }
    
    &.details-card{
        text-align: center;
        @include tablet{
            flex-direction:row;
            text-align: unset;
            gap: 2rem;
        }
        @include desktop{
            flex-direction: column;
            text-align: center;
        }
    }
}

//If no call after is used. Hide the call-cntainer
.no-call-after{
    & + .call-container{
        display:none;   
    }
    & ~ footer{
        &::before{
            display:none;
        }
    }
}


///Cards


.card{
    max-width: 300px;
    margin-inline:auto;
    text-align: center;
    margin-block: 2rem;
    .card-header{
        background-image: url(./assets/shared/desktop/bg-pattern-small-circle.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    .btn-call{
        margin-inline:auto;
    }
}
.content{
    padding-inline: 2rem;
    background-color: var(--clr-call-third);
    background-image:url(./assets/shared/desktop/bg-pattern-small-circle.svg) ;
    background-size: 80%;
    padding-block: 	4rem;
    h2{
        text-transform: unset;
        text-align: center;
        margin-block-end: 2rem;
        color: var(--clr-call-main); 
        font-size: 32px;
     }
     p{
        text-align: center;
        font-size: 15px;
     }
}


@import "./Header";

@import "./Hero";

@import "./Footer";

@import "./About";

@import "./Form";